.gitattributes            export-ignore
/.github                  export-ignore
.gitignore                export-ignore
.travis.yml               export-ignore
/integrations             export-ignore
phpunit.xml.dist          export-ignore
phpcs.xml.dist            export-ignore
/.git                     export-ignore
font-awesome/tests        export-ignore
font-awesome/readme.txt   export-ignore
/docker                   export-ignore
docker-compose.yml        export-ignore
/bin                      export-ignore
/admin/config             export-ignore
/admin/src                export-ignore
/admin/scripts            export-ignore
.env                      export-ignore
DEVELOPMENT.md            export-ignore
